<div id="banner">
  <h1 id="logo">Project Hearsay</h1>

  <div class="container">
    <form id="search">
      <div class="form-group">
        <input class="form-control" id='search-field' type="text" name="search" placeholder="&#xf002; search">
      </div>
    </form>
  </div>

  <div class="container">
    <form id="log-out">
      <div class="form-group">
        <button class="btn btn-default" type="submit" value="Log-Out">LogOut</button>
      </div>
    </form>
  </div>

</div>
