<div id="banner">
  <h1 id="logo">Project Hearsay</h1>

  <form id="search">
    <input id='search-field' type="text" name="search" placeholder="&#xf002; search">
  </form>

  <form id="log-out">
    <button type="submit" value="Log-Out">LogOut</button>
  </form>
</div>
