<div id="user-manager-prompt">
  <!-- SignUp -->
  <h4>Sign-Up</h4>
  <div class="container">
    <form id="sign-up" action="/api/users" method='post'>
      <div class="form-group" id="first-name">
        <input class="form-control" type='firstname' name='user[firstName]' placeholder='First Name'>
      </div>
      <div class="form-group" id="last-name">
        <input class="form-control" type='lastname' name='user[lastName]' placeholder='Last Name'>
      </div>
      <div class="form-group" id="username">
        <input class="form-control" type='text' name='user[username]' placeholder='Username'>
      </div>
      <div class="form-group" id="password">
        <input class="form-control" type='password' name='user[password]' placeholder='Password'>
      </div>
      <label>State:</label>
        <select class="form-control" id="state" name="user[state]">
          <option value="000">-Select State-</option>
        </select>
      <br />
      <label>City:</label>
        <select class="form-control" id="city" name="user[city]">
          <option value="000">-Select City-</option>
        </select>
      <br />
      <div class="form-group" id="email">
        <input class="form-control" type='email' name='user[email]' placeholder='email'>
      </div>
      <input id="sign-up-submit" class="btn btn-default" type='submit'>
    </form>
  </div>
</div>

<br>

<div id="user-manager-prompt">
  <!-- Login -->
  <h4>Log-In</h4>
  <div class="container">
    <form id="log-in">
      <div class="form-group">
        <input class="form-control" type='text' name='username' placeholder='username'>
      </div>
      <div class="form-group">
        <input class="form-control" type='password' name='password' placeholder='password'>
      </div>
      <input type='submit' style='visibility: hidden;'>
    </form>
  </div>
</div>

<div class="update-password">
  <!-- Update Password -->
  <h4>Update Password</h4>
  <div class="container">
  <form id="update-password">
    <div class="form-group">
      <input type='text' name='password' placeholder='password'>
    </div>
    <input type='submit' style='visibility: hidden;'>
  </form>
  </div>
</div>

