<!DOCTYPE html>
<html>
<head>
  <% include ./partials/head %>
</head>
<body>

  <header>
    <% include ./partials/header %>
  </header>

    <section id="user-manager" class="content-block">
      <% include ./partials/users-manager %>
    </section>

    <section id="users">
    </section>

    <section id="hearsay-list">
    </section>
    </br>
    <form class="content-block" id="hearsay-generator">
      <h4 class="create-hearsay"> Post a hearsay </h4>
      <textarea name="body" rows="3" cols="30" placeholder="Type in your hearsay here"></textarea>
      <input type="submit" name="name" value="Post Hearsay">
    </form>

</body>
</html>
