<!DOCTYPE html>
<html>
<head>
  <% include ./partials/head %>
</head>
<body>
  <% include ./partials/navbar %>
  <% include ./partials/modals.ejs %>
    <div class="top-area">


      <div class="container post-hearsay">
        <form class="content-block" id="hearsay-generator">
          <h4 class="create-hearsay"> Post a hearsay </h4>
          <div class="form-group">
            <textarea class="form-control" name="bodyText" rows="3" cols="30" placeholder="Type in your hearsay here"></textarea>
          </div>
          <div class="form-group">
            <input class="btn btn-default" type="submit" name="name" value="Post Hearsay">
          </div>
        </form>
        <img src="http://www.clker.com/cliparts/8/f/7/d/121980316175109002owl.svg.hi.png" class="owl" />
        <img src="https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/128/speech_bubble.png" class="speech-bubble" />
        <p class="speech-text">
          Hearsay
        </p>
      </div>

    </div>
    <div class="body-area">
        <section id="users">
        </section>

        <section id="hearsay-list">
        </section>
    </div>

  <!-- </div> -->

  <!-- </div> -->
</body>
</html>
