<!DOCTYPE html>
<html>
<head>
  <% include ./partials/head %>
</head>
<body>
  <% include ./partials/navbar %>
  <% include ./partials/modals.ejs %>
  <div class="home-area">
    <img src="/images/trees.png" class="trees" />
    <img src="/images/big-icon.png" class="big-icon" />
    <img src="/images/owl.png" id="white-owl" />
    <img src="/images/owl-eyes.png" id="owl-eyes"/>
    <div class="about">
        <h1 class="about-title">Project Hearsay</h1>
      </br>
        <p id="about-text">
          Are you bad at keeping secrets? Do you have the urge to reveal something so important but due to circumstances, you're not able to? Is gossiping your way of life?
          Project Hearsay is here with a solution for all of your important secrets and rumors. You can post your "hearsays" anonymously and even get feedback from people all over the country. So give us a try and start a hearsay today.
        </p>
        <img src="/images/secret.png" id="secret" />
    </div>
  </div>
    <div class="top-area">


      <div class="container post-hearsay">
        <form class="content-block" id="hearsay-generator">
          <h4 class="create-hearsay"> Post a hearsay </h4>
          <div class="form-group">
            <textarea class="form-control" name="bodyText" rows="3" cols="30" placeholder="Type in your hearsay here"></textarea>
          </div>
          <div class="form-group">
            <input class="btn btn-default" type="submit" name="name" value="Post Hearsay">
          </div>
        </form>
        <img src="/images/owl.png" class="owl" />
        <p class="speech-text">
          Hearsay
        </p>
      </div>

    </div>
    <div class="body-area">
        <section id="users">
        </section>

        <section id="hearsay-list">
        </section>
    </div>

  <!-- </div> -->

  <!-- </div> -->
</body>
</html>
