<!DOCTYPE html>
<html>
<head>
  <% include ./partials/head %>
</head>
<body>

  <h1> Project Hearsay </h1>

    <section id="user-manager" class="content-block">
      <% include ./partials/user-manager %>
    </section>

    <section id="users">
    </section>

</body>
</html>
