* {
  text-align: center;
  margin: 0 auto;
}


form input{
  font-family: FontAwesome;
}

.form-group{
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

#user-manager-prompt{
  z-index: 5;
}

.hearsay{
  max-width: 40%;
  border: 1px solid lightgrey;
  margin-bottom: 1em;
  padding: .6em;
  text-align: center;
  border-radius: 5px;
  /*margin: 0 auto;*/
}
.hearsay .username{
  text-align: left;
}

.hearsay .body{
  text-align: left;
}

.hearsay .comment-username{
  text-align: right;
}

.hearsay .comment-body{
  text-align: right;
}

#comment-submit{
  margin-left: .2em;
}

#delete-hearsay{
  float: left;
}

.cat-block{
  margin: 0;
  margin-top: 4.3%;
  width: 100%;
  margin-left: 0;
  padding: .2em;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

section#cat-picture{
  width: 100%;
}
.cat-block img{
  max-width: 90%;
  max-height: 50%;
}
.image-cat{
  width: 30%;
}
