* {
  text-align: left;
  margin-left: 1em;
  /*margin: 0 auto;*/
}


form input{
  font-family: FontAwesome;
}

header{
  margin: 0 !important;
}

h1#logo{
  margin: .4em !important;
}

h2.username{
  margin: 0;
}

h5.location{
  text-align: center;
}

.container{
  padding-left: 0em !important;
  margin: 0 !important;
}

#header-things{
  margin: 0;
}

.banner{
  text-align: left;
  padding-left: 0em;
}

form#search{
  margin: 0 !important;
  max-width: 60%;
}

form#log-out{
  margin: 0 !important;
}

form#hearsay-generator{
  border: 0;
  max-width: 60%;
}

.hearsay{
  width: 45%;
  border: 1px solid lightgrey;
  margin-bottom: 1em;
  padding: .6em;
  text-align: center;
  border-radius: 5px;
  /*margin: 0 auto;*/
}
.hearsay .username{
  text-align: left;
}

.hearsay .body{
  text-align: left;
}

.hearsay .comment-username{
  text-align: right;
}

.hearsay .comment-body{
  text-align: right;
}

#comment-submit{
  margin-left: .2em;
}

#delete-hearsay{
  float: left;
}

h1#logo{
  margin: .2em;
}

.cat-block{
  margin: 0;
  padding-top: 2.5% !important;
  /*width: 100%;*/
  /*padding: .2em;*/
  /*border-radius: 5px;
  border: 1px solid lightgrey;*/
}


.delete-hearsay{
  float: left;
}
.edit-hearsay{
  float: left;
  margin-left: .2em;
  margin-right: .2em;
}
/*#cat-picture{
  margin: 0 auto;
  width: 25%;
  position: fixed;
  top: 0%;
  left: auto;
  /*margin-right: 0em;*/
  /*bottom: auto;
}*/

.cat-block img{
  max-width: 90%;
  max-height: 40%;
  padding-bottom: 1em;
}
.image-cat{
  width: 30%;
}


#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding: 0%;
}

#sidebar-wrapper {
    z-index: 1000;
    padding: 0;
    position: fixed;
    left: 30%;
    width: 0;
    height: 100%;
    margin-left: -30%;
    overflow-y: auto;
    background-color: white;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 30%;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 1%;
}

#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0%;
}

@media(min-width:768px) {
    #wrapper {
        padding-left:30%;
        -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    }

    #wrapper.toggled {
        padding-left: 10%;
    }

    #sidebar-wrapper {
        width:20%;
       /* overflow-y: auto;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;*/
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 0;
        position: absolute;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: -10%;
    }

    .hearsay{
      width: 70%;
    }


}

